@media only screen and (max-width:1020px){
    .menuCards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 4fr));
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}

@media only screen and (max-width:720px){
    .mainButton{
        width: 110px;
        font-size: 13px;
    }
}




@media only screen and (max-width:500px){
    .menuLinkResponsive{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .menuLink{
        display: none;
    }
    .menuTitle {
        font-size: 50px;
    }
}

